body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(to right bottom, #7caeee, #00ccfe, #00e5e3, #46f5a4, #c9f95c);
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card-body a{
    position: absolute;
    bottom: 8px;
}

.box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    text-align: left;
}

h1 {
    padding: 20px;
}

.siteImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

p>span {
    text-decoration: underline;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: auto;
}

footer img {
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer a {
    margin-inline: 5px;
}

